<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>MegaCRM from Softsmith</display-name>
	
	<!-- 2017-10-06 11:18 -->

	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.megacrm.servlets.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	 <context-param>
		<param-name>Megacrm-Version</param-name>
		<param-value>3.0.048</param-value>
	</context-param>  
  
  <servlet>
    <description></description>
    <display-name>ContactsServlet</display-name>
    <servlet-name>ContactsServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.ContactsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactsServlet</servlet-name>
    <url-pattern>/ContactsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountsServlet</display-name>
    <servlet-name>AccountsServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.AccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsServlet</servlet-name>
    <url-pattern>/AccountsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpportunityServlet</display-name>
    <servlet-name>OpportunityServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.OpportunityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpportunityServlet</servlet-name>
    <url-pattern>/OpportunityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccServlet</display-name>
    <servlet-name>AccServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.AccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccServlet</servlet-name>
    <url-pattern>/AccServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchContactsServlet</display-name>
    <servlet-name>SearchContactsServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.SearchContactsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContactsServlet</servlet-name>
    <url-pattern>/SearchContactsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAccountsServlet</display-name>
    <servlet-name>SearchAccountsServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.SearchAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAccountsServlet</servlet-name>
    <url-pattern>/SearchAccountsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchOpportunitiesServlet</display-name>
    <servlet-name>SearchOpportunitiesServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.SearchOpportunitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchOpportunitiesServlet</servlet-name>
    <url-pattern>/SearchOpportunitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAccount</display-name>
    <servlet-name>EditAccount</servlet-name>
    <servlet-class>com.megacrm.servlets.EditAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccount</servlet-name>
    <url-pattern>/EditAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAccount</display-name>
    <servlet-name>GetAccount</servlet-name>
    <servlet-class>com.megacrm.servlets.GetAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAccount</servlet-name>
    <url-pattern>/GetAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>com.megacrm.servlets.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetContact</display-name>
    <servlet-name>GetContact</servlet-name>
    <servlet-class>com.megacrm.servlets.GetContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetContact</servlet-name>
    <url-pattern>/GetContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditContact</display-name>
    <servlet-name>EditContact</servlet-name>
    <servlet-class>com.megacrm.servlets.EditContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditContact</servlet-name>
    <url-pattern>/EditContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>com.megacrm.servlets.DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOpportunity</display-name>
    <servlet-name>GetOpportunity</servlet-name>
    <servlet-class>com.megacrm.servlets.GetOpportunity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOpportunity</servlet-name>
    <url-pattern>/GetOpportunity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOpportunity</display-name>
    <servlet-name>EditOpportunity</servlet-name>
    <servlet-class>com.megacrm.servlets.EditOpportunity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOpportunity</servlet-name>
    <url-pattern>/EditOpportunity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OAccServlet</display-name>
    <servlet-name>OAccServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.OAccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAccServlet</servlet-name>
    <url-pattern>/OAccServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOpportunity</display-name>
    <servlet-name>DeleteOpportunity</servlet-name>
    <servlet-class>com.megacrm.servlets.DeleteOpportunity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOpportunity</servlet-name>
    <url-pattern>/DeleteOpportunity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConvoServlet</display-name>
    <servlet-name>ConvoServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.ConvoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConvoServlet</servlet-name>
    <url-pattern>/ConvoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnServlet</display-name>
    <servlet-name>ConnServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.ConnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnServlet</servlet-name>
    <url-pattern>/ConnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OConvoServlet</display-name>
    <servlet-name>OConvoServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.OConvoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OConvoServlet</servlet-name>
    <url-pattern>/OConvoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactServlet</display-name>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.AddContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/AddContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>com.megacrm.servlets.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOpportunityServlet</display-name>
    <servlet-name>AddOpportunityServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.AddOpportunityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOpportunityServlet</servlet-name>
    <url-pattern>/AddOpportunityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccountServlet</display-name>
    <servlet-name>AddAccountServlet</servlet-name>
    <servlet-class>com.megacrm.servlets.AddAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountServlet</servlet-name>
    <url-pattern>/AddAccountServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
	<!-- ========================================================== -->
	<!-- Listeners -->
	<!-- ========================================================== -->

	<!-- Listener for the application -->
	<listener>
		<listener-class>com.megacrm.listener.MegaCRMHttpSessionListener</listener-class>
	</listener>



	<!-- ========================================================== -->
	<!-- Welcome Files -->
	<!-- ========================================================== -->

	<!-- start-up page -->
	<welcome-file-list>
		<welcome-file>/view/login.jsp</welcome-file>
	</welcome-file-list>
  
</web-app>
